@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    --primary-dark: #111827;
    --primary-orange: #f0b30d;
    --primary-blue: #1755a0;

}

/* 
.container{
    width: 50%;
    margin: auto;
}

.dob{
    margin: 5rem;
}
input{
    font-size: large;
    margin-bottom: 0.5rem;
}

input,label{
     display: block;
}

button {
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: var(--primary-blue);
    color: #FFFFFF;
    border-radius: 0.5rem;
    border: none;
    border-width: medium;
    cursor: pointer;
    font-size: large;
} */


/* hiding arrows from input section */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}