@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --primary-dark:#1f2937;
    --primary-green:#6ee787;
}


.alert {
    padding: 1rem;
    margin: 1rem 0 5rem 0;
    background-color: var(--primary-green);
    color: var(--primary-dark);
    font-weight: bolder;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }


body{
    background-color:var(--primary-dark) ;
    color: var(--primary-green);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* to hide arrays in input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
    border-radius: 1rem;
    height: 6vh;
    width: 30%;
    font-size: 2rem;
}

button{
    display: block;
    margin:auto;
    background: transparent;  
    color:  var(--primary-green);
    padding: 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
}